{% extends "base.html" %}
{% block title %}AQSANA — Тарихы{% endblock %}

{% block content %}

<h2 class="text-center fw-semibold my-5">🕓 Айырбастау тарихы</h2>

{% if history %}
<div class="list-group shadow-sm">
    {% for item in history %}
    <div class="list-group-item py-3 px-4 d-flex justify-content-between align-items-center border-0 border-bottom">
        <div>
            <div class="fw-semibold fs-5">{{ item.amount }} {{ item.from_currency.code }} → {{ item.to_currency.code }}
            </div>
            <small class="text-muted">{{ item.created_at|date:"d.m.Y H:i" }}</small>
        </div>
        <span class="fs-5 fw-bold text-success">{{ item.converted_amount }} {{ item.to_currency.code }}</span>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-secondary text-center mt-5">Сізде әзірге айырбастау тарихы жоқ.</div>
{% endif %}

{% endblock %}